/* .color-box {
  background-color: rgb(0, 0, 225);
  width: 300px;
  height: 300px;
} */

.green-box {
  background-color: green;
  width: 300px;
  height: 300px;
}

.blue-box {
  background-color: blue;
  width: 300px;
  height: 300px;
}

.red-box {
  background-color: red;
  width: 300px;
  height: 300px;
}